/*------------
    RESET
------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*-------------
    HEADER 
-------------*/

header{
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.shield-check, .recording, .header-right{
    background-color: black;
    color: white;
    padding: 4px 3px;
    border-radius: 5px;
}

.shield-check{
    color: green;
}

.recording{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
}

.header-right{
    width: 80px;
    display: flex;
    justify-content: space-evenly;
}

/*----------
    MAIN 
----------*/

main{
    background-color: rgb(17, 17, 17);
    width: 100%;
    height: 90vh;
    display: flex;
}

.cam-container{
    margin: auto;
    background-color: inherit;
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.cam{
    width: calc(100% / 6 - 3px);
    height: calc(100% / 6 - 3px);
    border-radius: 10px;
    background-image: url(https://picsum.photos/id/237/400/200);
    background-size: cover;
    position: relative;
}

.name-container{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 4px;
    border-radius: 10px;
    position: absolute;
    bottom: 3px;
    left: 3px;
}

.name-container i{
    color: red;
    font-size: small;
}

.name-container span{
    color: white;
    font-size: small;
}


.unmute-container{
    color: white;
    position: absolute;
    font-size: small;
    background-color: #3370e5;
    border-radius: 5px;
    padding: 5px;
    top: 4px;
    right: 29px;
    opacity: 0%;
}

.options-container{
    padding: 5px;
    color: white;
    position: absolute;
    font-size: small;
    background-color: #3370e5;
    border-radius: 5px;
    right: 4px;
    top: 4px;
    opacity: 0%;
    opacity: 0;
}

/* effeto hover */
.cam:hover .unmute-container, .cam:hover .options-container{
    opacity: 100%;
    cursor: pointer;
}

/*------------
    FOOTER
------------*/

footer{
    width: 100%;
    height: 6.3vh;
    display: flex;
    justify-content: space-between;
    color: lightgray;
    background-color: #1b1b1b;
}

.left-footer{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-left: 10px;
    padding-top: 5px;
}

.left-footer > div{
    margin-left: 15px;
}

.security{
    margin-left: 0;
}

.center-footer{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 5px;
}

.center-footer > div{
    margin-left: 25px;
}

.right-footer{
    padding: 10px;
}

.right-footer button{
    background-color: red;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    border: none;
}

.share-screen{
    color: green;
}